<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7d8887">  <td>16/02/26 10:50:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DoubleClickExample.Setup()[pri:0, instance:sanityTest_AutoIT.DoubleClickExample@d7b1517]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@398887205</td>   <td></td> </tr>
<tr bgcolor="7d8887">  <td>16/02/26 10:50:38</td>   <td>11150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DoubleClickExample.testDoubleClick()[pri:0, instance:sanityTest_AutoIT.DoubleClickExample@d7b1517]">testDoubleClick</td> 
  <td>main@398887205</td>   <td></td> </tr>
</table>
