<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>sanityTest_Store.sanityTest_008_STO_ValidateDatatypesPropertyDetailPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_03_InputInvalidOrIncorrectAtDateFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_01_NoInputTheData</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_04_InputInvalidOrIncorrectAtNumberFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_02_InputInvalidOrIncorrectAtCurrencyFields</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_017_STO_ReportsTemplateTab</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_07_DeleteNewGroupReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_10_DownloadListGroupReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_11_DownloadListReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_06_SearchForGroupReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_02_AddNewReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_05_SearchForReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_04_SearchReportTemplates</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_09_DeleteNewReportTemplates</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_03_AddNewGroupReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_12_DownloadListReportTemplates</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_08_DeleteNewReports</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ReportPage_01_AddNewReportTemplates</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_001_STO_CreateNewAndDownloadListTransaction</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewAndDownloadTransations_02_EnterRequiredDataIntoScreen</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewAndDownloadTransations_01_LoadTransactionByXMLFile</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewAndDownloadTransations_03_DownloadListTransaction</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_009_FNF_UpdateApplicantCorporateStructure</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChangeCorporate_01_Lender_CheckAllDefaultPlaceholderCreated</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChangeCorporate_03_Lender_ChangeCorporateIsLimitedCompany</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChangeCorporate_02_Borrower_CheckAllDefaultPlaceholderCreated</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChangeCorporate_05_Lender_ChangeCorporateIsCorporation</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChangeCorporate_06_Borrower_CheckCorporationCreated</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ChangeCorporate_04_Borrower_CheckLimitedCompanyCreated</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_018_STO_EditNameWithSpecialCharacters</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SpecialCharacters_04_AddNewTransactionDocumentWithSpecialCharacters</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SpecialCharacters_01_CreateNewLoanWithSpecialCharacters</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SpecialCharacters_02_UploadDatatapeWithSpecialCharacters</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SpecialCharacters_03_AddNewPropertyTypeWithSpecialCharacters</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_010_STO_SearchAndActiveInactiveProperty</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_12_PropertyOfTransactionDecreasedByOne</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_06_SearchByZipCode</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_04_SearchByCity</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_08_SearchByEitherStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_09_SearchByInactiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_11_MakeAPropertyIsInactive</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_03_SearchByAddress</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_10_MakeAPropertyIsActive</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_01_SearchByPNumber</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_02_SearchByPropertyID</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_05_SearchByState</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_07_SearchByActiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_008_FNF_AllFieldsInApplicantBecomeReadOnly</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FieldReadOnly_01_Borrower_AllFieldsApplicantScreenBecomeReadOnlyAfterInvitedStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>FieldReadOnly_02_Lender_AllFieldsApplicantScreenBecomeReadOnlyAfterClosingStatus</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_005_FNF_UpdateApplicantValidAllFields</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_13_Lender_InputValidAllFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_14_Borrower_MakeSureHeCanSeeThemAlso</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_004_STO_AddAndDeleteExternalEntities</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_02_AddNewGuarantor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_09_AddNewSurveyProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_07_AddNewFranchisor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_13_DeleteTheEntitiesInExternalEntitiesTable</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_03_AddNewBorrower</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_06_AddNewDiligenceProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_10_AddNewPhaseIProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_01_AddNewLessee</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_11_AddNewPCAProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_12_AddNewTitleProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_04_AddNewSponsor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_08_AddNewSeller</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewEntities_05_AddNewPledgor</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_002_FNF_UpdateApplicantInvalidPhoneMobileFax</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_05_InputInvalidPrimaryMobile</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_06_InputInvalidPrimaryFax</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_04_InputInvalidPrimaryPhone</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_03_InputInvalidFax</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_02_InputInvalidPhone</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_003_STO_ValidateDatatypesExternalEntitiesPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_11_EntityTypeIsPCAProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_08_EntityTypeIsSeller</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_03_EntityTypeIsBorrower</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_09_EntityTypeIsSurveyProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_07_EntityTypeIsFranchisor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_10_EntityTypeIsPhaseIProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_04_EntityTypeIsSponsor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_05_EntityTypeIsPledgor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_01_EntityTypeIsLessee</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_02_EntityTypeIsGuarantor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_12_EntityTypeIsTitleProvider</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidateEntities_06_EntityTypeIsDiligenceProvider</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_012_STO_SearchActiveInactiveDownloadDocumentType</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_02_SearchByPropertyAddress</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_11_DocumentOfPropertyDecreasedByOne</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_03_SearchByDocumentType</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_01_SearchByDocumentNumber</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_10_DownloadListDocumentCSV</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_04_SearchByDocumentLoaded</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_08_MakeADocumentIsActive</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_07_SearchByInactiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_09_MakeADocumentIsInactive</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_05_SearchByActiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_06_SearchByEitherStatus</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_004_FNF_UpdateApplicantInvalidDateAndNumber</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_11_InputInvalidDateOfFormation</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_12_InputInvalidDateOfFiancials</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_007_STO_AddNewProperty</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewProperty_03_EnterRequiredDataIntoScreen</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewProperty_01_AddNewPropertyByExcelTemplate</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewProperty_04_PropertyOfTransactionIncreasedByOne</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>NewProperty_02_UpdatePropertyByExcelTemplate</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_003_FNF_UpdateApplicantInvalidEmailZipNetIncome</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_09_InputInvalidBorrowerZipCode</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_07_InputInvalidZipcode</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_10_InputInvalidNetIncome</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Applicant_08_InputInvalidBorrowerEmail</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_010_FNF_AddAuthorizedSignerGuarantors</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddGuarantors_05_Lender_DeleteGuarantor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddGuarantors_02_Borower_GuarantorAreCreated</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddGuarantors_06_Borower_GuarantorAreDeleted</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddGuarantors_01_Lender_AddGuarantor</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddGuarantors_03_Borrower_PlaceHolderForGuarantorAreCreated</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddGuarantors_04_Lender_PlaceHolderForGuarantorAreCreated</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_011_STO_DownloadFileFromPropertyScreen</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ExportDataTape_01_DownloadCSV</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ExportDataTape_02_ExportDataTapeAllProperties</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ExportDataTape_04_ExportDataTapeDontSubUnit</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ExportDataTape_03_ExportDataTapeDontParentProperties</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_002_STO_ValidateDatatypesBasicDetailPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_03_InputInvalidOrIncorrectAtDateFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_05_InputValidIntoAllFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_01_NoInputTheData</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_04_InputInvalidOrIncorrectAtNumberFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_02_InputInvalidOrIncorrectAtCurrencyFields</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_007_FNF_UpdateZipWithZeroBeginInLoanAndPropertiesScreen</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ZipZeroBegin_02_Lender_UpdateZipWithZeroInTheBeginning</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ZipZeroBegin_01_Borrower_UpdateZipWithZeroInTheBeginning</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_CAFFNF.sanityTest_006_FNF_PropertiesScreenCreateAndUpdateInformation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Properties_02_Lender_CreateAndUpdateInformation</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Properties_01_Borrower_CreateAndUpdateInformation</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_006_STO_ValidateDatatypesLeaseDetailPage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_03_InputInvalidOrIncorrectAtDateFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_05_InputValidIntoAllFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_01_NoInputTheData</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_04_InputInvalidOrIncorrectAtNumberFields</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ValidataDatatypes_02_InputInvalidOrIncorrectAtCurrencyFields</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_009_STO_AddDocumentTypeForProperty</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_06_UploadDocumentFileBySelectingThePlaceholder</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_08_VerifyRequiredDocumentOfPropertyEqualThree</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_04_VerifyDocumentOfPropertyDecreasedByOne</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_03_DeleteDocumentType</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_02_VerifyDocumentOfPropertyIncreasedByOne</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_07_OpenBothTheOldDocumentAndNewDocument</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_05_UploadDocumentFileByNewDocumentType</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_01_AddNewDocumentType</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_014_STO_SearchActiveInactiveDownloadTransactionDocument</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_03_SearchByDocumentType</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_01_SearchByDocumentNumber</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_10_DownloadListDocumentCSV</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_02_SearchBySection</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_04_SearchByDocumentLoaded</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_08_MakeADocumentIsActive</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_07_SearchByInactiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_09_MakeADocumentIsInactive</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_05_SearchByActiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_06_SearchByEitherStatus</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_013_STO_AddNewTransactionDocument</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_02_OpenBothTheOldDocumentAndNewDocument</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Document_01_AddNewTransactiondocuments</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>sanityTest_Store.sanityTest_005_STO_SearchAndActiveInactiveTransaction</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_02_SearchByClientID</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_05_SearchByInactiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_07_MakeATransactionIsInactive</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_03_SearchByActiveStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_04_SearchByEitherStatus</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_01_SearchByCompanyName</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SearchActiveInactive_06_MakeATransactionIsActive</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
